.root {
    -fx-font-family: "Segoe UI";
}

.button {
    -fx-background-color: #0057ff;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.text-field, .password-field {
    -fx-background-radius: 5px;
}
